<container>
<div class="img-back">
 <img src="{{this.photo}} " alt=" " />
</div>

<div class="beer-link">
    <a class="anchor" href="/beers"> Check the Beers! </a>

<div class="beer-link">
  <a class="anchor" href="/random-beers"> Check a Random Beer  </a>
</container>
