<div class="container">
    <h1>Random Beers</h1>
    <div class="row">
        <div class="col-md-12 align-center">
            {{#each randomData}}
                {{> beerParcials this}}  
            {{/each}}
        </div>
         
      
     
    </div>
</div>