/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.img-back {
   text-align: center;
    margin-top: 40px;
}

body {
    margin: auto;
    background-color: #F7F9F9;
}

.navbar {
    background-color: #2081c3;
}

.beer-link {

}



